@font-face {
  font-family: PlusJakartaSans-Medium;
  src: url(/assets/fonts/static/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: PlusJakartaSans-Bold;
  src: url(/assets/fonts/static/PlusJakartaSans-Bold.ttf);
}
@font-face {
  font-family: PlusJakartaSans-Italic-VariableFont_wght;
  src: url(/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: PlusJakartaSans-VariableFont_wght;
  src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@import "tailwindcss";

@theme{
--font-PlusJakartaSans-VariableFont_wght: PlusJakartaSans-VariableFont_wght;  
--font-PlusJakartaSans-Italic-VariableFont_wght: PlusJakartaSans-Italic-VariableFont_wght;  
--font-PlusJakartaSans-Bold: PlusJakartaSans-Bold;  
--font-PlusJakartaSans-Medium: PlusJakartaSans-Medium;  
--color-Slate100: hsl(202, 86%, 94%);
--color-Slate300: hsl(203, 41%, 72%);
--color-Slate500: hsl(200, 26%, 54%);
--color-Slate700: hsl(200, 24%, 40%);
--color-Slate900: hsl(202, 55%, 16%);
--color-Lime: hsl(61, 70%, 52%);
--color-Red: hsl(4, 69%, 50%);
}
